
.mateu-view {
    -fx-background-color: white;
    -fx-border-insets: 10, 5, 10, 5;
}

.mateu-view-scroll {
    -fx-background-color: white;
    -fx-border-insets: 10, 5, 10, 5;
    -fx-border-style: none;
}

/*
.label {
    -fx-min-width: 200px;
    -fx-alignment: baseline-right;
}
*/

/*
* {
-fx-font-family: Lato Regular;
-fx-font-size: 40px;
}
*/

.table-row-cell .hyperlink {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.table-row-cell .hyperlink:hover {
    -fx-text-fill: red;
}

/*
.table-row-cell .hyperlink:visited, .table-row-cell .hyperlink:hover {
    -fx-text-fill: red;
    -fx-underline: true;
}
*/



.tree-table-row-cell .dataviewer {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell.dataviewer:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}



.tree-table-row-cell.dataviewer:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell.dataviewer:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

/*
.tree-table-row-cell.leaf {
    -fx-background-color: -fx-table-cell-border-color, #ffffe7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
*/


.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}


.s {
    -fx-pref-width: 65px;
}

.m {
    -fx-pref-width: 130px;
}

.l {
    -fx-pref-width: 260px;
}

.xl {
    -fx-pref-width: 520px;
}

.xxl {
    -fx-pref-width: 100%;
}



/* cell styles */

.rojo {
    -fx-background-color: red;
}

.azul {
    -fx-background-color: blue;
}

.verde {
    -fx-background-color: green;
}

.marron {
    -fx-background-color: brown;
}

.amarillo {
    -fx-background-color: yellow;
}

.naranja {
    -fx-background-color: orange;
}




.red {
    -fx-text-fill: red;
}

.blue {
    -fx-text-fill: blue;
}

.green {
    -fx-text-fill: green;
}

.yellow {
    -fx-text-fill: yellow;
}

.orange {
    -fx-text-fill: orange;
}



.success {
    -fx-background-color: #dff0d8;
}

.info {
    -fx-background-color: #d9edf7;
}

.warning {
    -fx-background-color: #fcf8e3;
}

.danger {
    -fx-background-color: #f2dede;
}


.cell-valid {
    -fx-border-style: hidden solid hidden hidden; -fx-border-width: 0 10 0 0; -fx-border-color: green;
}

.cell-warning {
    -fx-border-style: hidden solid hidden hidden; -fx-border-width: 0 10 0 0; -fx-border-color: orange;
}

.cell-invalid {
    -fx-border-style: hidden solid hidden hidden; -fx-border-width: 0 10 0 0; -fx-border-color: red;
}

/*
.table-row-cell .success {
    -fx-background-color: #dff0d8;
}

.table-row-cell .info {
    -fx-background-color: #d9edf7;
}

.table-row-cell .warning {
    -fx-background-color: #fcf8e3;
}

.table-row-cell .danger {
    -fx-background-color: #f2dede;
}
*/

/*

.table-row-cell .info .hyperlink {
    -fx-text-fill: blue;
    -fx-background-color: red;
}

.table-row-cell .info .hyperlink:hover {
    -fx-text-fill: red;
    -fx-background-color: green;
}

 */
/*
.pending {
    font-size: 0 !important;
    position:relative !important;
}

.pending:before {
    font-size: initial !important;
    content: "\f10c" !important;
    font-family: FontAwesome !important;

    position:absolute !important;
    top:0 !important;
}

.done {
    font-size: 0 !important;
    position:relative !important;
}
.done:before {
    font-size: initial !important;
    content: "\f05d" !important;
    font-family: FontAwesome !important;

    position:absolute !important;
    top:0 !important;
}

.cancelled {
    font-size: 0 !important;
    position:relative !important;
}
.cancelled:before {
    font-size: initial !important;
    content: "\f05c" !important;
    font-family: FontAwesome !important;

    position:absolute !important;
    top:0 !important;
}

*/



.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #f4f4f4;
    -fx-border-color: -fx-box-border;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-width: 0 1 1 0;
}

.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #f4f4f4;
    -fx-border-color: -fx-box-border;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-width: 0 0 1 0;
}

/*
.table-view .column-header {
    -fx-background-color: transparent;
}
*/

/*
.table-view {
    -fx-table-header-border-color: red;
    -fx-table-header-background-color: #f4f4f4;
}
*/


.o-closed {
    -fx-background-color: #ef786f;
}

.o-partial {
    -fx-background-color: #fea65d;
}

.o-open {
    -fx-background-color: #80af82;
}

.o-weekend {
    -fx-border-bottom: 3px solid darkgrey;
}

.o-today {
    -fx-border-bottom: 3px solid black;
}



.mascara {
    -fx-background-color: grey;
    -fx-opacity: 0;
}

.seleccionado {
    -fx-opacity: 0.5 !important;
}



.random-0 {
    -fx-background-color: #c2ccbd;
}
.random-1 {
    -fx-background-color: #879182;
}
.random-2 {
    -fx-background-color: #d6ddd2;
}
.random-3 {
    -fx-background-color: #ede9d5;
}
.random-4 {
    -fx-background-color: #d8d7d0;
}
.random-5 {
    -fx-background-color: #f7f1c5;
}
.random-6 {
    -fx-background-color: #f4d8cd;
}
.random-7 {
    -fx-background-color: #dbac99;
}
.random-8 {
    -fx-background-color: #c9e2e8;
}
.random-9 {
    -fx-background-color: #abc9d1;
}
.random-10 {
    -fx-background-color: #dcf1f7;
}
.random-11 {
    -fx-background-color: #bab1c9;
}
.random-12 {
    -fx-background-color: #dacbf2;
}
.random-13 {
    -fx-background-color: #dfdce5;
}
.random-14 {
    -fx-background-color: #f9dbf4;
}
.random-15 {
    -fx-background-color: #d1b1cb;
}
.random-16 {
    -fx-background-color: #d6c5d2;
}
.random-17 {
    -fx-background-color: #f2d0d8;
}
.random-18 {
    -fx-background-color: #a57f88;
}
.random-19 {
    -fx-background-color: #c4cec8;
}
.random-20 {
    -fx-background-color: #93a59a;
}
.random-21 {
    -fx-background-color: #83af95;
}
.random-22 {
    -fx-background-color: #c3ccc7;
}
.random-23 {
    -fx-background-color: #d8d7c5;
}
.random-24 {
    -fx-background-color: #f7f5d7;
}
.random-25 {
    -fx-background-color: #cec765;
}
.random-26 {
    -fx-background-color: #8c8170;
}
.random-27 {
    -fx-background-color: #ceba9a;
}
.random-28 {
    -fx-background-color: #f9d8a2;
}
.random-29 {
    -fx-background-color: #f4a422;
}
.random-30 {
    -fx-background-color: #b57001;
}



.tituloapp {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.botonlogin {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.botonlogin:hover {
    -fx-background-color: #383838;
}

.sesion .glyph-icon {
    -fx-fill: red;
    -fx-font-size: 20px;
}


.menuopcionesperfil {
    -fx-font-size: 12px;
    -fx-background-color: #006699;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #006699;
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: yellow;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}



.titulomenu {
    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-font-size: 12px;
    -fx-pref-width: 500px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
    -fx-padding: 15 5 5 0;
}

.opcionmenu {
    -fx-background-color: transparent;
    -fx-text-fill: lightgrey;
    -fx-font-size: 12px;
    -fx-padding: 5 5 0 0;
}

.opcionmenu:hover {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

























