
.mateu-view {
    -fx-background-color: white;
    -fx-border-insets: 10, 5, 10, 5;
}

.mateu-view-scroll {
    -fx-background-color: white;
    -fx-border-insets: 10, 5, 10, 5;
    -fx-border-style: none;
}

/*
.label {
    -fx-min-width: 200px;
    -fx-alignment: baseline-right;
}
*/

/*
* {
-fx-font-family: Lato Regular;
-fx-font-size: 40px;
}
*/

.table-row-cell .hyperlink {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.table-row-cell .hyperlink:hover {
    -fx-text-fill: red;
}

/*
.table-row-cell .hyperlink:visited, .table-row-cell .hyperlink:hover {
    -fx-text-fill: red;
    -fx-underline: true;
}
*/



.tree-table-row-cell .dataviewer {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell.dataviewer:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}



.tree-table-row-cell.dataviewer:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell.dataviewer:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

/*
.tree-table-row-cell.leaf {
    -fx-background-color: -fx-table-cell-border-color, #ffffe7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
*/